@media screen and (min-width: 811px) {
    .linkPagesMedia {
        display: none !important;
    }
}

@media screen and (max-width: 810px) {
    body {
        margin: 0;
        width: 90%;
        margin: 0 5%;
        nav {
            display: flex;
            .logoNavBtn {
                
                position : relative;
                width: 100%;
                height: 100%;
                margin: 0 10%;

                .logoEnseigne {
                    margin-right: 40px;
                }
                
                .linkPages {
                    display: none !important;
                }

                .menuBurG {
                    display: block !important;
                    
                    #menuBurger {
                        display: flex;
                        position: absolute;
                        align-items: center;
                        margin: 20px;
                        font-size: 30px;
    
                        left: 90%;
                    }
    
                    .menuCross {
                        display: flex;
                        position: absolute;
                        align-items: center;
                        margin: 20px;
                        font-size: 30px;
    
                        left: 91%;
                    }
    
                    .linkPagesMedia {
    
                        background-color: white;
                        width: 80%;
                        text-align: center;
                        position: absolute;
    
                        top: 30%;
                        left: 30%;
    
                        border-radius: 10px;
                        box-shadow: 0 7px 40px $neutralGrey3;
    
                        .link {
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                        .link a{
                            color: $navyBlue;
                            
                            text-decoration: none;
                            &:hover {
                                border-bottom: solid 1px $navyBlue;
                            }
                        }
                    }
                }
                
            }

            .recall {
                display: none;
            }
        }
        section {
            width: 100% !important;
            margin: 0 5%;
            .imageTitle {
                width: 100%;
                margin-left: 5%;
                margin-right: 5%;
                height: 100vh !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .titleText {
                    width: 80% !important;
                    h2 {
                        margin: 0;
                        font-size: 34px !important;
                    }
                }
                .comments {
                    margin: 0 10%;
                    width: 80% !important;
                    .containerCom {
                        margin: 0 !important;
                        .comStartPict {
                            width: 340px !important;
                            .pictFour {
                                left: 300px !important;
                            }
                        }
                    }
                }
            }
            
            .search {
                width: 90%;
                form {
                    display: flex;
                    flex-direction: column;
                    .searchCase {
                        border: solid 1px $navyBlue;
                        width: 90% !important;
                        margin: 10px !important;
                    }
                    .btnSubmit {
                        width: 90% !important;
                    }
                }
            }
        }
        .partenaire {
            height: 100% !important;
            display: flex;
            flex-direction: column !important;
            justify-content: center;
            align-items: center;

            .nosPartenaires {
                width: 100% !important;

                .pictPartnerOne {
                    width: 100% !important;
                    .heroPict {
                        width: 80%;
                        margin:0 10%;
                    }
                    .hashTagText {
                        width: 80% !important;
                        margin-left: 10%;
                        p {
                            font-size: 0,5rem;
                        }
                        }
                }
            }

            .maStory {
                display: flex;
                flex-direction: column !important;
                justify-content: center;
                align-items: center;
                margin: 0px;
                padding: 0;
                width: 100% !important;
                height: 100% !important;
            }
        }
        .sectionService {
            height: 100% !important;
            .containerRowCard {
                flex-direction: column !important;
            }
        }

        .newsLetter {
            margin: 20% 0  0!important;
            padding: 10%;
            height: 100% !important;
            .newsLetterContainer {
                display: flex !important;
                flex-direction: column;
                .titleTextNews {
                    padding: 10% 0;
                    display: block;
                }
            }
        }  


        .avisClientContainer {
            display: none;

            .containerAgent {
                display: none;
            }
        }
    }
}
